@import 'src/style/variable.scss';

.header {
  width: 100%;
  height: 100px;

  &__wrap {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__row {
    display: grid;
    grid-template: 1fr/ 1fr auto auto;

    display: -ms-grid;
    -ms-grid-columns: 1fr auto auto;
    -ms-grid-rows: 1fr;
    align-items: center;
    width: 100%;
    height: auto;
  }
}

.navbar {
  -ms-grid-row-align: center;
  grid-column: 2/3;
  &__wrap {
    border-right: 1px solid $gray;
    margin-right: 25px;
  }

  &__block {
    display: flex;

    a {
      text-decoration: none;
    }

    li {
      padding-right: 25px;
      p {
        cursor: pointer;
        display: inline-block;
        color: $gray;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          bottom: -5px;
          right: 0;
          width: 0%;
          height: 1.5px;
          background: $gray;
          transition: all 0.3s ease 0s;
        }
      }
      p:hover {
        color: $grayold;
        &:after {
          right: auto;
          left: 0;
          width: 100%;
        }
      }
    }

    li.add {
      p {
        color: $grayold;
        &:after {
          width: 100%;
          background: $green3;
        }
      }
    }

    li:nth-child(3) {
      p {
        cursor: not-allowed !important;
      }
    }
    li:nth-child(4) {
      p {
        cursor: not-allowed !important;
      }
    }
  }
}

.logo {
  -ms-grid-row-align: center;

  grid-column: 1/2;
  &__text {
    font-size: 40px;
    font-weight: 600;
    display: flex;
  }
  span {
    display: block;
    color: $grayold;
  }
  span:nth-child(2) {
    transform: rotate(90deg);
    padding: 0 5px;
  }
}

.accoutmenu {
  -ms-grid-row-align: center;
  grid-column: 3/4;
  &__wrap {
    display: flex;
    width: 100%;
    position: relative;
    user-select: none;
  }
  &__user {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__login {
    padding-right: 10px;
    p {
      transition: all 0.3s ease 0s;
    }
  }
  &__icon {
    width: 15px;
    height: 15px;
  }
  svg {
    width: 100%;
    height: 100%;
    fill: $gray;
    transition: all 0.3s ease 0s;
  }
  &:hover {
    svg {
      fill: $grayold;
    }
    .accoutmenu__login {
      p {
        color: $grayold;
      }
    }
  }
  &__wrap.add {
    svg {
      fill: $grayold;
    }
    .accoutmenu__login {
      p {
        color: $grayold;
      }
    }
  }
}

.menublock {
  position: absolute;
  width: 100px;
  top: 40px;
  left: -40%;
  background: #f0eee9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.266);
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s linear 0s;
  ul {
    display: flex;
    justify-content: center;
  }
  li {
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    &:hover {
      background: $green3;
    }
    p {
      color: $grayold;
    }
  }
}

.accoutmenu {
  &__wrap.add {
    .menublock {
      visibility: visible;
      opacity: 1;
    }
  }
}

@media screen and (max-width: $mw3 + px) {
  .header {
    height: 130px;
    &__row {
      grid-template: 1fr 1em auto/ 1fr auto auto;
    }
  }

  .navbar {
    grid-column: 1/2;
    grid-row: 3/4;

    &__wrap {
      border-right: none;
      margin-right: 0;
    }
  }
  .accoutmenu {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .logo {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

@media screen and (max-width: $mw4 + px) {
  .header {
    height: 130px;
    &__row {
      grid-template: 1fr 1em auto/ 1fr auto;
    }
  }

  .navbar {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .accoutmenu {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .logo {
    grid-column: 1/2;
    grid-row: 1/2;
    &__text {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: $mw5 + px) {
  .navbar {
    justify-self: center;
    grid-column: 1/3;
    grid-row: 3/4;
    li:last-child {
      padding-right: 0;
    }
  }
}

// @media screen and (max-width: $mw4 + px) {
//   .header {
//     height: 80px;
//     &__wrap {
//       grid-template: 1fr/ 1fr auto;
//       grid-row-gap: 0px;
//     }
//   }

//   .navbar {
//     display: none;
//   }

//   .logo {
//     &__text {
//       font-size: 25px;
//     }
//   }

//   .menublock {
//     position: absolute;
//     width: 100px;
//   }
// }
